<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/cvNadirG.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <title>Resume</title>
</head>


<body>
    <div class="Global">
        <div class="coordonees">
            <img src="../image/NadirG(2).jpg" alt="photo d'dentitée">
            <h1>DEVELOPPEUR WEB & WEB MOBILE</h1>
            <div class="contact">

                <span class="e-mail"><i class="fa-regular fa-envelope"></i>nsm.gounane@gmail.com</span>

                <span class="mobile"><i class="fa-solid fa-mobile-screen"></i>00 00 00 00 00</span>

                <span class="location"><i class="fa-solid fa-location-dot"></i>Tourcoing 59200</span>

                <span class="driv-license"><i class="fa-regular fa-id-card"></i>Permis B (V&eacutehicul&eacute) </span>
            </div>

            <div class="competences">
                <h2>COMPET&EacuteNCES</h2>
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>PHP</li>
                    <li>JavaScript</li>
                    <li>Symphony</li>
                    <li>Git</li>
                    <li>REACT</li>
                    <li>NODE JS</li>
                    <li>REACT NATIVE</li>
                </ul>
            </div>
            <div class="logiciels-maitrises">
                <h2>LOGICIELS MA&IcircTRIS&EacuteS</h2>
                <ul>
                    <li> Adobe photoshop</li>
                    <li> PhpMyAdmin</li>
                    <li>VS Code</li>
                    <li> XAMPP</li>
                    <li> Figma</li>
                    <li> FileZilla</li>
                    <li>StarUML</li>
                </ul>
            </div>
            <div class="langues">
                <h2>LANGUES</h2>
                <ul>
                    <li> Français (C2)</li>
                    <li>Arabe (C2)</li>
                    <li>Anglais (B2)</li>
                </ul>
            </div>
            <div class="soft-skills">
                <h2>SOFT SKILLS</h2>
                <ul>
                    <li> Travailler en équipe</li>
                    <li> Organisé / Dynamique</li>
                    <li>Autonome</li>
                </ul>
            </div>
            <div class="centres-interet">
                <h2>CENTRES D'INT&EacuteR&EcircT</h2>
                <ul>
                    <li> Intelligence artificielle </li>
                    <li> Jeux vidéo </li>
                    <li>Football</li>
                </ul>
            </div>
        </div>
        <div class="exp-form">
            <h1>
                NADIR GOUNANE
            </h1>
            <p>
                Titulaire d’un Titre Professionnel RNCP niveau 5 en développement
                web, passionné et désireux de consolider mes connaissances dans ce
                domaine, j’ai une volonté d’apprentissage sans limite et
                une détermination à relever de nouveaux défis. Collaborer avec vous
                serait une réelle opportunité de contribuer à vos projets tout en
                développant mes savoir-faire.
            </p>
            <h2>
                EXPÉRIENCES PROFESSIONNELLES
            </h2>
            <div class="exp-1">
                <div class="exp-1bis">
                    <span class="title">
                        DEVELOPPEUR WEB
                    </span>
                    <span class="date">
                        de 2023 à 2024
                    </span>
                </div>
                <h3 class="entreprise">
                    <span class="nom-etp">Flow at work</span>
                    <span class="nom-etp-bis">Entreprise de bien être au travail</span>
                </h3>
                <ul>
                    <li> Développer une application web mobile en autonomie avec
                        Fronte-end: HTML,CSS, JS Back-end PHP avec phpMyAdmin</li>
                    <li> Installer et configurer son environnement de travail</li>
                    <li>Maquetter des interfaces utilisateur web (Figma)</li>
                    <li>Réaliser des interfaces utilisateur statiques web</li>
                    <li> Mettre en place une base de données relationnelle</li>
                </ul>
            </div>
            <div class="exp-2">
                <div class="exp-2bis">

                    <span class="title">
                        EMPLOYÉ MAGASIN (POLYVALENT)
                    </span>
                    <span class="date">
                        de 2019 à 2023
                    </span>
                </div>
                <h3 class="entreprise">
                    <span class="nom-etp"> Action France entreprise de commerce de détail non alimentaire </span>
                </h3>
                <ul>
                    <li> En charge de l’organisation et de la mise en valeur de
                        9 rayons. </li>
                </ul>
            </div>
            <div class="exp-3">
                <div class="exp-3bis">
                    <span class="title">
                        TECHNICO-COMMERCIAL
                    </span>
                    <span class="date">
                        de 2016 - 2018
                    </span>
                </div>
                <h3 class="entreprise">
                    <span class="nom-etp"> Sarl Plast Alu, entreprise de production de portes et fenêtres
                        en PVC/ double vitrage/ sous-traitant en Placo-Plâtre. </span>
                </h3>
                <ul>
                    <li> Encadrement de la formation de 10 stagiaires </li>
                </ul>
            </div>
            <div class="exp-4">
                <div class="exp-4bis">

                    <span class="title">
                        GESTIONNAIRE DE STOCK
                    </span>
                    <span class="date">
                        de 2014 - 2016
                    </span>
                </div>
                <h3 class="entreprise">
                    <span class="nom-etp"> Sarl Plast Alu, entreprise de production de portes et fenêtres
                        en PVC/ double vitrage/ sous-traitant en Placo-Plâtre </span>
                </h3>
                <ul>
                    <li> Prospecter des fournisseurs augmentant le taux de
                        signature de clients de 50% </li>
                    <li> Gérer les commandes et livraisons résultant à une
                        augmentation de 20% de la satisfaction client. </li>
                </ul>
            </div>
            <h2>FORMATIONS</h2>
            <div class="form-1">
                <div class="form-1bis">

                    <span class="title">
                        Titre professionnel :
                    </span>
                    <span class="date">
                        de 2023 - 2024
                    </span>
                </div>
                <h3 class="formation">
                    <span class="nom-form"> développeur web et web mobile niveau 5 </span>
                </h3>
            </div>
            <div class="form-2">
                <div class="form-2bis">

                    <span class="title">
                        Bachelor :
                    </span>
                    <span class="date">
                        de 2015 - 2016
                    </span>
                </div>
                <h3 class="formation">
                    <span class="nom-form"> In business administration Option: Ingénieur d’affaire. </span>
                </h3>
            </div>
            <div class="form-3">
                <div class="form-3bis">

                    <span class="title">
                        BTS :
                    </span>
                    <span class="date">
                        de 2011 - 2014
                    </span>
                </div>
                <h3 class="formation">
                    <span class="nom-form"> en gestion des stocks et approvisionnement. </span>
                </h3>
            </div>
        </div>

    </div>
</body>

</html>